{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}HB Esfihas{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

    {% block extra_head %}{% endblock %}
</head>

<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'img/logo.jpg' %}" alt="Logo" class="rounded-circle logo">
            </a>

            {% if user.is_authenticated %}
            <div class="mx-auto d-lg-block">
                <div class="user-widget">
                    <div class="user-info text-center">
                        <span>Bem-vindo, {{ user.nome }}!</span>
                        <small>{{ user.pontos }} pontos</small>
                    </div>
                </div>
            </div>
            {% endif %}

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-center">


                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Cardápio</a>
                    </li>

                    {% if user.is_authenticated and not user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'meus_pedidos' %}">Meus Pedidos</a>
                    </li>
                    {% endif %}

                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'painel_gerente' %}">Painel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard_vendas' %}">Dashboard</a>
                    </li>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout_cliente' %}">Sair <i
                                class="bi bi-box-arrow-right"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% if configuracao_loja.loja_aberta %}
    <div class="banner-loja bg-success text-white">
        👍 Loja Aberta 😋
    </div>
    {% else %}
    <div class="banner-loja bg-danger text-white">
      👎  Loja Fechada 😩
    </div>
    {% endif %}

    <main class="container my-4">
        {% block content %}{% endblock %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>